

{{#if avatar }}
    <input class="input_file" type={{type}} name={{name}} tabindex={{tabIndex}} >
{{else}}
    <div class="input">
        <div class="hint">{{hint}}</div>
        <input type={{type}} name={{name}} tabindex={{tabIndex}} {{#if value}} value="{{value}}"{{/if}}>
    </div>
{{/if}}
